@import "reset.css";

html, body {
    height: 100%;
    font-family: Roboto, arial;
}

/* modified from https://fdossena.com/?p=html5cool/buttons/i.frag */
button, input[type="submit"] {
    border: none;
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.1em 0 0.1em;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#4eb5f1;
    text-align:center;
    transition: all 0.2s;
}

button:hover, input[type="submit"]:hover{
    background-color:#4095c6;
}

@media all and (max-width:30em) {
    button, input[type="submit"] {
        display:block;
        margin:0.2em auto;
    }
}

#primary-container {
    height: 5vh;
    height: calc(var(--vh, 1vh) * 5);
}

#book-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 95vh;
    height: calc(var(--vh, 1vh) * 95);
    width: 100vw;
}

#book-list {
    height: 95vh;
    height: calc(var(--vh, 1vh) * 95);
}

li {
    margin: 1rem;
    padding: 1rem 1rem 1rem 1rem;
    border: 1px solid black;
}

#top-bar {
    display: grid;
    grid-template-columns: auto auto 1fr auto; 
    align-items: center;
    width: 100vw;
    height: 5vh;
    height: calc(var(--vh, 1vh) * 5);
    position: fixed;
    background-color: blue;
}


#add-new-book {
    display: none;
    position: fixed;
    margin: 5vh 0 2vh 0;
    background-color: white;
    width: 20vw;
    height: 40vh;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
}

@media only screen and (max-width: 600px) {
    #add-new-book {
        display: none;
        position: fixed;
        margin: 5vh 0 2vh 0;
        background-color: white;
        width: 100vw;
        height: 95vh;
        height: calc(var(--vh, 1vh) * 95);
    }
}

#login {
    display: block;
    position: fixed;
    margin: 5vh 0 2vh 0;
    background-color: white;
    width: 100vw;
    height: 95vh;
    height: calc(var(--vh, 1vh) * 95);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
}

#login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    height: 95vh;
    height: calc(var(--vh, 1vh) * 95);
}

#login-form div {
    margin: 2px 0 0 2px;
}

#login-form input[type="text"], input[type="number"], input[type="password"] {
    width: 30vw;
    outline: none;
    border: none;
    border-bottom: 1px solid #ece4e4;
}

#new-book-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    height: 100%;
}

#new-book-form div {
    margin: 2px 0 0 2px;
}

#new-book-form input[type="text"], input[type="number"] {
    width: 90%;
    outline: none;
    border: none;
    border-bottom: 1px solid #ece4e4;
}
